<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460756903582-s2mii36noeaur6tujcjl78asu6k3e7oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460756903582-s2mii36noeaur6tujcjl78asu6k3e7oa</string>
	<key>API_KEY</key>
	<string>AIzaSyDtWOj8DHjzxisYvUiwSbxr-d8kBufYCnA</string>
	<key>GCM_SENDER_ID</key>
	<string>460756903582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mihailaurentiumocanu.Trimbli</string>
	<key>PROJECT_ID</key>
	<string>trimbli-5ee28</string>
	<key>STORAGE_BUCKET</key>
	<string>trimbli-5ee28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460756903582:ios:694bc125b98d5bbc273d8f</string>
</dict>
</plist>