<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353312486530-f7thjq9dugm81ke6pa4155r9nmqldsn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353312486530-f7thjq9dugm81ke6pa4155r9nmqldsn9</string>
	<key>API_KEY</key>
	<string>AIzaSyDxVBv8KrGI-DjVTclHBltBXePCiJISn1o</string>
	<key>GCM_SENDER_ID</key>
	<string>353312486530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mihailaurentiumocanu.Trimbli</string>
	<key>PROJECT_ID</key>
	<string>trimbli-f01e7</string>
	<key>STORAGE_BUCKET</key>
	<string>trimbli-f01e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353312486530:ios:02857d5251485b4adf309b</string>
</dict>
</plist>